@model TP_NT.Models.ViewModel.DatosFormEquipo

@{
    ViewData["Title"] = "Crear Equipo";
}

<div class="row">
        <div class="col-md-4">
            <form asp-action="CrearEquipo">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="JugadoresBase" class="control-label"></label>
                    <select class="form-control" asp-for ="BaseTitular" asp-items="@Model.JugadoresBase"> 
                    </select>
                    <span asp-validation-for="BaseTitular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresEscolta" class="control-label"></label>
                    <select class="form-control" asp-for ="EscoltaTitular" asp-items="@Model.JugadoresEscolta"> 
                    </select>
                    <span asp-validation-for="EscoltaTitular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresAlero" class="control-label"></label>
                    <select class="form-control" asp-for ="AleroTitular" asp-items="@Model.JugadoresAlero"> 
                    </select>
                    <span asp-validation-for="AleroTitular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresAlaPivot" class="control-label"></label>
                    <select class="form-control" asp-for ="AlaPivotTitular" asp-items="@Model.JugadoresAlaPivot"> 
                    </select>
                    <span asp-validation-for="AlaPivotTitular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresPivot" class="control-label"></label>
                    <select class="form-control" asp-for ="PivotTitular" asp-items="@Model.JugadoresPivot"> 
                    </select>
                    <span asp-validation-for="PivotTitular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresBase" class="control-label"></label>
                    <select class="form-control" asp-for ="BaseSuplente" asp-items="@Model.JugadoresBase"> 
                    </select>
                    <span asp-validation-for="BaseSuplente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresEscolta" class="control-label"></label>
                    <select class="form-control" asp-for ="EscoltaSuplente" asp-items="@Model.JugadoresEscolta"> 
                    </select>
                    <span asp-validation-for="EscoltaSuplente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresAlero" class="control-label"></label>
                    <select class="form-control" asp-for ="AleroSuplente" asp-items="@Model.JugadoresAlero"> 
                    </select>
                    <span asp-validation-for="AleroSuplente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresAlaPivot" class="control-label"></label>
                    <select class="form-control" asp-for ="AlaPivotSuplente" asp-items="@Model.JugadoresAlaPivot"> 
                    </select>
                    <span asp-validation-for="AlaPivotSuplente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JugadoresPivot" class="control-label"></label>
                    <select class="form-control" asp-for ="PivotSuplente" asp-items="@Model.JugadoresPivot"> 
                    </select>
                    <span asp-validation-for="PivotSuplente" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar Equipo" class="btn btn-primary" />
                </div>
                
            </form>
        </div>
</div>