@model List<TP_NT.Models.ViewModel.IndexVM>

@{
    ViewData["Title"] = "Home Page";
}
 
<div class="row">
  <div class="col-sm-8">
    <div class="card">
        <div class="card-header">
    <h5>Listado de Jugadores</h5>
  </div>
      <div class="card-body">  
     <table class="table table-striped table-bordered table-condensed table-sm mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jugador</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posicion</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
      @{int pos = 1;}

        @foreach (var item in Model[0].Jugadores)
            {
              <tr>
                <th scope="row">@pos</th> 
                <td>@item.Nombre @item.Apellido</td>
                <td><span class="badge badge-outline-primary"><img src="~/image/@item.Equipo.Nombre"></span></td>
                <td><span class="badge badge-primary">@item.Posicion</span></td>
                <td><span class="badge badge-danger">@item.ValorContrato $</span></td>
              </tr>
              {pos++;}
            }
        
      </tbody>
    </table> 
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" @Html.ActionLink("1", "index", new { pagina = 0 })</li>
    <li class="page-item"><a class="page-link" @Html.ActionLink("2", "index", new { pagina = 5 })</li>
    <li class="page-item"><a class="page-link" @Html.ActionLink("3", "index", new { pagina = 10 })</li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
 </div>
</div>
</div>

  <div class="col-sm-4">
    <div class="card">
        <div class="card-header">
    <h5>Mis Jugadores</h5>
    <div class="card-body">
        <hr><a href="#" class="badge badge-success">TITULARES</a>
        <table class="table table-striped table-bordered table-condensed table-sm mt-1">
          <thead>
            <tr>
              <th scope="col">Jugador</th>
              <th scope="col">Posicion</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model[0].Titulares) {
              <tr>
                <td>@item.Nombre @item.Apellido
                </td>
                <td><span class="badge badge-primary">@item.Posicion</span></td>
              </tr>
            }
        </table>
        <hr><a href="#" class="badge badge-danger">SUPLENTES</a>
        <table class="table table-striped table-bordered table-condensed table-sm mt-2">
          <thead>
            <tr>
              <th scope="col">Jugador</th>
              <th scope="col">Posicion</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model[0].Suplentes) {
              <tr>
                <td>@item.Nombre @item.Apellido
               </td>
                <td><span class="badge badge-primary">@item.Posicion</span></td>
              </tr>
            }
          </tbody>
        </table>

      </div>
  
      </div>
  </div>
  </div>
